.address {
  /*border: 4rem var(--alert) solid;*/
  width: 660rem;
  background: var(--delta);
  padding-bottom: 50rem;

  &__header {
    width: 465rem;
    text-align: center;
    margin-left: 100rem;
    padding: 40rem;
    font-weight: bolder;
    font-size: 25rem;
    color: var(--beta);
  }

  header::first-letter {
    font-family: "Courier New", Courier, monospace;
    font-size: 70rem;
  }

  /*starting of first-location-style*/
  &__f-location {
    width: 465rem;
    margin-left: auto;
    margin-right: auto;
    /*border: 4rem var(--tagla) solid;*/
  }

  &__fl-branch {
    display: flex;
    padding-top: 10rem;
    background: var(--alpha);
    color: var(--delta);
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;

    img {
      height: 30rem;
      margin-top: auto;
      margin-bottom: auto;
      background: var(--delta);
    }
  }

  &__f-office {
    margin-left: 20rem;

    h2 {
      font-size: 25rem;
      color: var(--alert);
    }

    p {
      font-size: 20rem;
      margin-top: 10rem;
      padding-bottom: 10rem;
    }
  }
  /*End of first-location-style*/

  /*Beggining of second-location-style*/
  &__s-location {
    width: 465rem;
    margin-top: 30rem;
    margin-left: auto;
    margin-right: auto;
    /*border: 4rem var(--tagla) solid;*/
  }

  &__sl-branch {
    display: flex;
    padding-top: 10rem;
    background: var(--alpha);
    color: var(--delta);
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;

    img {
      height: 30rem;
      margin-top: auto;
      margin-bottom: auto;
      background: var(--delta);
    }
  }

  &__s-office {
    margin-left: 20rem;

    h2 {
      font-size: 25rem;
      color: var(--alert);
    }

    p {
      font-size: 20rem;
      margin-top: 10rem;
      padding-bottom: 10rem;
    }
    /*End of second-location-style*/
  }

  /*Beggining of call-style*/
  &__call {
    width: 465rem;
    /*border: 4rem var(--tagla) solid;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 30rem;
    color: var(--delta);
    background: var(--alpha);
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  &__b-call {
    display: flex;
    padding-top: 10rem;
    background: var(--alpha);
    color: var(--delta);
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;

    img {
      height: 30rem;
      margin-top: auto;
      margin-bottom: auto;
      background: var(--delta);
    }

    p {
      margin-left: 20rem;
      font-size: 20rem;
      padding-bottom: 10rem;
    }
  }
  /*End of call-style*/

  /*Beggining of email-style*/
  &__email {
    width: 465rem;
    padding-bottom: 10rem;
    /*border: 4rem var(--tagla) solid;*/
    margin-right: auto;
    margin-left: auto;
    margin-top: 30rem;
    color: var(--delta);
    background: var(--alpha);
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
  }

  &__b-email {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: var(--alpha);
    color: var(--delta);
    border-top-right-radius: 50rem;
    border-bottom-left-radius: 50rem;

    img {
      height: 30rem;
      margin-top: auto;
      margin-bottom: auto;
      background: var(--delta);
      color: var(--delta);
    }

    p {
      margin-left: 20rem;
      font-size: 20rem;
      padding-bottom: 10rem;
    }
  }
  /*End of email-style*/

  /*Beggining of newsletter-style*/
  &__newsletter {
    width: 465rem;
    margin-left: auto;
    margin-right: auto;
    border: 4rem var(--tagla) solid;
    margin-top: 30rem;
    background: var(--skills);
    color: var(--alpha);
    border-bottom-right-radius: 50rem;
    border-top-left-radius: 50rem;
    padding-bottom: 20rem;

    h1 {
      text-align: center;
      padding-top: 10rem;
      font-weight: bolder;
      font-size: 25rem;
      color: var(--alert);
    }
  }

  &__b-newsletter {
    margin-top: 20rem;
    margin-left: 10rem;

    p {
      font-size: 15rem;
      font-weight: bolder;
    }

    a {
      margin-top: 5rem;
    }
  }

  &__ank {
    margin-top: 10rem;
    margin-left: 150rem;
    text-decoration: none;
    list-style-type: none;
    color: var(--tagla);
    font-size: 30rem;
  }
  /*End of newsletter-styleS*/

  /*Beggining of midea-style*/
  &__media {
    width: 465rem;
    margin-left: auto;
    margin-right: auto;
    border: 4rem var(--tagla) solid;
    margin-top: 30rem;
    background: var(--yert);
    color: var(--alpha);
    border-bottom-right-radius: 50rem;
    border-top-left-radius: 50rem;
    padding-bottom: 50rem;

    h1 {
      margin-top: 10rem;
      text-align: center;
      padding-top: 10rem;
      font-weight: bolder;
      font-size: 25rem;
      color: var(--alert);
    }
  }

  &__b-media {
    width: 465rem;
    margin-top: 50rem;
    margin-bottom: auto;
    margin-left: 90rem;
    margin-right: auto;

    img {
      margin: 10rem;
    }
  }

  a:hover {
    border-bottom: 5rem var(--contrast) solid;
  }

  /*End of media-style*/

  /*Beggining of porpular-link-style*/
  &__plink {
    width: 465rem;
    margin-left: auto;
    margin-right: auto;
    border: 4rem var(--tagla) solid;
    margin-top: 30rem;
    background: var(--luxo);
    color: var(--alpha);
    border-bottom-right-radius: 50rem;
    border-top-left-radius: 50rem;
    padding-bottom: 50rem;

    h1 {
      margin-top: 10rem;
      text-align: center;
      padding-top: 10rem;
      font-weight: bolder;
      font-size: 25rem;
      color: var(--alert);
    }
  }

  &__b-plink {
    margin-left: 20rem;
    margin-top: 20rem;
    color: var(--delta);
    font-size: 20rem;

    a:hover {
      color: var(--tagla);
    }
  }
  /*End of porpular-link-style*/

  /*START OF MEDIUM-SCREEN*/

  /*END OF MEDIUM-SCREEN*/

  /*Beggining of large-screen*/
  @include respond-to("large") {
    width: auto;

    &__location {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: min-content 1fr;
      grid-gap: 20rem;
    }

    &__header {
      grid-area: 1 / 1 / 2 / 5;
      /*grid-column: 1 / span 3;*/
      /*grid-row: 1 / 2;*/
      justify-self: center;
      align-self: center;
      font-size: 40rem;
    }

    &__location-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &__newsletter {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      height: 300rem;
      justify-self: center;
      align-self: center;

      h1 {
        margin-top: 50rem;
      }
    }

    &__media {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      height: 300rem;
      justify-self: center;
      align-self: center;

      h1 {
        margin-top: 50rem;
      }
    }

    &__plink {
      grid-column: 4 / 5;
      grid-row: 2 / 3;

      h1 {
        margin-top: 50rem;
      }

      article {
        margin-top: 40rem;
        text-decoration: none;
        list-style-type: none;
      }

      a {
        text-decoration: none;
        list-style: none;
      }
    }
  }
}
