/*START OF SMALL-SCREEN*/
.nav {
  /*border: 3rem var(--tagla) dotted;*/
  display: grid;
  width: 660rem;
  grid-template-columns: 70px 2fr 100px 70px;
  grid-template-rows: max-content 1fr;
  background: var(--chiboc);

  &__logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 50rem;
    width: 280rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20rem;
    background: var(--light);
    margin: 20rem;
    border-radius: 30rem;
  }

  &__happy {
    color: var(--tagla);
    margin-top: 5rem;
    margin-left: 1rem;
  }

  &__portugal {
    color: var(--alert);
    margin-top: 5rem;
    margin-left: 5rem;
  }

  &__hamburger {
    grid-column: 3 / 4;
    grid-row: 1 / 2;

    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 5rem;
  }

  &__toggle {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  &__dropl {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background: var(--alpha);
    padding-left: 20rem;
    padding-top: 10rem;
    font-size: 20rem;
    font-weight: bold;
    display: none;

    li {
      width: 200rem;
      margin-left: 50rem;
      margin-bottom: 20rem;
      color: var(--delta);
      padding-top: 5rem;
      border: 3rem var(--tagla) solid;
      text-align: center;
    }

    &__dropdown {
      display: none;
    }

    a:link {
      color: var(--delta);
    }

    a:visited {
      color: var(--delta);
    }

    a:hover {
      color: var(--tagla);
      font-size: 30rem;
      /*background: var(--delta);*/
    }

    a:active {
      color: var(--contrast);
      font-size: 30rem;
    }
  }

  &__toggle:checked ~ &__dropl {
    display: block;
  }

  /*start of buy dropdown*/
  &__dropdown {
    position: relative;
    display: inline-block;
    border-radius: 20rem;
    /*transform: 1s ease-in-out;*/
  }

  &__dd-list {
    display: none;
    position: absolute;
    background: var(--chiboc);
    border-radius: 20rem;
    min-width: 350px;
    padding: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /*transform: 1s ease-in-out;*/
  }

  &__dd-list &__list-child {
    color: var(--delta);
    /*min-width: 350px;*/
    padding: 20rem;
    /*background: var(--alpha);*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
  }

  &__last-child {
    min-width: 350px;
    margin: 20rem;
  }

  &__dd-list &__list-child:hover {
    min-width: 350px;
    background-color: var(--rose);
    color: var(--delta);
    visibility: visible;
    z-index: 1;

    /*transform: 1s ease-in-out;*/
  }

  &__dropdown:hover &__dd-list {
    display: block;
    visibility: visible;
    z-index: 1;
    margin-top: 1rem;
    /*transform: 1s ease-in-out;*/
    /*display: visible;*/
  }
  /*end of buy dropdown*/

  &__dd-list {
    display: none;
  }
  /*END OF SMALL-SCREEN*/

  /* START OF LARGE-SCREEN*/
  @include respond-to("small") {
    grid-template-columns: 1fr 2fr;
    height: 100rem;
    width: auto;

    &__dropl {
      grid-column: 2 / 3;
      grid-row: 1 / 2;

      display: flex;
      font-size: 30rem;
      align-items: center;
      justify-content: center;
      background: var(--chiboc);
      /*text-decoration: none;*/
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      /*transform: 1s ease-in-out;*/

      li a {
        display: block;
        margin: 10rem;
        color: var(--delta);
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-style: none;
      }

      li {
        width: auto;
        border-right: 3rem var(--delta) solid;
        align-items: center;
        justify-content: center;
      }

      a:link {
        color: var(--contrast);
      }

      a:visited {
        color: var(--delta);
      }

      a:hover {
        color: var(--tagla);
        font-size: 35rem;
        /*background: var(--delta);*/
      }

      a:active {
        color: var(--contrast);
      }
    }

    /*start of buy dropdown*/
    &__dropdown {
      position: relative;
      display: inline-block;
      border-radius: 20rem;
      /*transform: 1s ease-in-out;*/
    }

    &__dd-list {
      display: none;
      position: absolute;
      background: var(--alpha);
      border-radius: 20rem;
      min-width: 350px;
      padding: 20rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10rem;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      /*transform: 1s ease-in-out;*/
    }

    &__dd-list &__list-child {
      color: var(--delta);
      /*min-width: 350px;*/
      padding: 20rem;
      /*background: var(--alpha);*/
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      z-index: 1;
    }

    &__last-child {
      min-width: 350px;
      margin: 20rem;
    }

    &__dd-list &__list-child:hover {
      min-width: 350px;
      background-color: var(--rose);
      color: var(--delta);
      visibility: visible;
      z-index: 1;

      /*transform: 1s ease-in-out;*/
    }

    &__dropdown:hover &__dd-list {
      display: block;
      visibility: visible;
      z-index: 1;
      margin-top: 20rem;
      /*transform: 1s ease-in-out;*/
      /*display: visible;*/
    }
    /*end of buy dropdown*/

    /*creation of tooltip arrow to the buy-dropdown list*/
    &__dropdown &__dd-list &__list-child::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 25%;
      margin-left: -5rem;
      border-width: 15rem;
      border-style: solid;
      border-color: transparent transparent var(--alpha) transparent;
    }
    /*end of creation tooltip arrow to buy-dropdown list*/

    &__logo {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      height: 50rem;

      justify-self: center;
      text-decoration: none;
      font-size: 20rem;
      padding: 10rem;
      width: 300rem;
    }

    &__hamburger {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: none;
    }

    &__dleft {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: center;
      display: none;
    }

    &__dright {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-self: center;
      display: none;
    }
  }
  /*END OF LARGE-SCREEN*/
}
