.porpular {
  width: 660rem;
  /*background: var(--elements);*/
  background-image: linear-gradient(to right, var(--elements) 60%, var(--rose));

  &__header {
    width: 465rem;
    text-align: center;
    margin-left: 100rem;
    padding: 60rem;
    font-weight: bolder;
    font-size: 25rem;
    color: var(--beta);
  }

  h2::first-letter {
    font-size: 71rem;
    font-family: "Courier New", Courier, monospace;
  }

  &__alg {
    background-image: url(../../images/porpular-1.jpg);
    width: 465rem;
    height: 550rem;
    margin-left: 110rem;
    border-radius: 20rem;

    p {
      display: inline-block;
      color: var(--delta);
      font-weight: bolder;
      font-size: 40rem;
      margin-top: 480rem;
      margin-left: 190rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
  }

  &__cas {
    margin-top: 40rem;
    background-image: url(../../images/porpular-3.jpg);
    width: 465rem;
    height: 550rem;
    margin-left: 110rem;
    border-radius: 20rem;

    p {
      display: inline-block;
      color: var(--delta);
      font-weight: bolder;
      font-size: 40rem;
      margin-top: 480rem;
      margin-left: 190rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
  }

  &__lisbon {
    margin-top: 40rem;
    background-image: url(../../images/porpular-2.jpg);
    width: 465rem;
    height: 550rem;
    margin-left: 110rem;
    border-radius: 20rem;

    p {
      display: inline-block;
      color: var(--delta);
      font-weight: bolder;
      font-size: 40rem;
      margin-top: 480rem;
      margin-left: 190rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
  }

  &__coim {
    margin-top: 40rem;
    background-image: url(../../images/porpular-5.jpg);
    width: 465rem;
    height: 550rem;
    margin-left: 110rem;
    border-radius: 20rem;

    p {
      display: inline-block;
      color: var(--delta);
      font-weight: bolder;
      font-size: 40rem;
      margin-top: 480rem;
      margin-left: 190rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
  }

  &__porto {
    margin-top: 40rem;
    background-image: url(../../images/porpular-6.jpg);
    width: 465rem;
    height: 550rem;
    margin-left: 110rem;
    border-radius: 20rem;

    p {
      display: inline-block;
      color: var(--delta);
      font-weight: bolder;
      font-size: 40rem;
      margin-top: 480rem;
      margin-left: 190rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
  }

  &__brag {
    margin-top: 40rem;
    background-image: url(../../images/porpular-7.jpg);
    width: 465rem;
    height: 550rem;
    margin-left: 110rem;
    border-radius: 20rem;

    p {
      display: inline-block;
      color: var(--delta);
      font-weight: bolder;
      font-size: 40rem;
      margin-top: 480rem;
      margin-left: 190rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
    a:hover {
      border: 4rem var(--contrast) solid;
    }
  }

  &__slist {
    width: 465rem;
    height: 80rem;
    margin-left: 110rem;
    margin-top: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__next {
    p {
      font-weight: bolder;
      font-size: 30rem;
      border: 3rem var(--beta) solid;
      color: var(--delta);
      background: var(--tagla);
      border-radius: 100%;
      padding: 10rem;
    }

    p:hover {
      background: var(--sadxo);
      color: var(--delta);
    }
  }

  &__previ {
    p {
      font-weight: bolder;
      font-size: 30rem;
      border: 3rem var(--beta) solid;
      color: var(--delta);
      background: var(--tagla);
      border-radius: 100%;
      padding: 10rem;
    }

    p:hover {
      background: var(--sadxo);
      color: var(--delta);
    }
  }

    /*START OF MEDIUM-SCREEN*/

  /*END OF MEDIUM-SCREEN*/

  @include respond-to("large") {
    width: auto;
    padding-bottom: 10rem;

    &__flist {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: min-content 1fr 1fr;
      grid-gap: 20rem;
    }

    &__header {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: center;
      font-size: 40rem;
      font-weight: bolder;
      margin-top: 70rem;
    }

    &__f-alg {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
    }

    .porpular__alg:hover {
      /*border: 5rem var(--contrast) solid;*/
      box-shadow: 5px 5px 10px 5px var(--contrast);
    }

    &__f-cas {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
    }

    .porpular__cas:hover {
      /*border: 5rem var(--contrast) solid;*/
      box-shadow: 5px 5px 10px 5px var(--contrast);
    }

    &__f-lisbon {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
    }

    .porpular__lisbon:hover {
      /*border: 5rem var(--contrast) solid;*/
      box-shadow: 5px 5px 10px 5px var(--elements);
    }

    &__f-coim {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: center;
    }

    .porpular__coim:hover {
      /*border: 5rem var(--contrast) solid;*/
      box-shadow: 5px 5px 10px 5px var(--contrast);
    }

    &__f-porto {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: center;
    }

    .porpular__porto:hover {
      /*border: 5rem var(--contrast) solid;*/
      box-shadow: 5px 5px 10px 5px var(--contrast);
    }

    &__f-brag {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      justify-self: center;
      align-self: center;
    }

    .porpular__brag:hover {
      /*border: 5rem var(--contrast) solid;*/
      box-shadow: 5px 5px 10px 5px var(--elements);
    }

    &__slist {
      width: auto;
      padding-bottom: 80rem;
      height: 80rem;
      /*margin-left: 110rem;*/
      margin-top: 100rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__next {
      position: relative;
      animation-name: mymove;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: reverse;
      animation-fill-mode: forwards;

      @keyframes mymove {
        from {
          left: 0rem;
        }
        to {
          right: 100rem;
        }
      }

      p {
        font-weight: bolder;
        font-size: 50rem;
        border: 3rem var(--beta) solid;
        color: var(--delta);
        background: var(--tagla);
        border-radius: 100%;
        margin-left: 300rem;
        padding: 10rem;
      }
    }

    &__previ {
      position: relative;
      animation-name: mymove;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      /*animation-direction: alternate;*/
      animation-fill-mode: forwards;

      @keyframes mymove {
        from {
          left: 0rem;
        }
        to {
          right: 100rem;
        }
      }

      p {
        font-weight: bolder;
        font-size: 50rem;
        border: 3rem var(--beta) solid;
        color: var(--delta);
        background: var(--tagla);
        border-radius: 100%;
        margin-right: 300rem;
        padding: 10rem;
      }
    }
  }
}
